<html xmlns:th="http://www.thymeleaf.org" >

  <head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
  <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"></link>
  <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"></link>
  <link rel="stylesheet" th:href="@{/media/css/bootstrap.css}" id="bscss"></link>
  <link rel="stylesheet" th:href="@{/media/css/app.css}" id="maincss"></link>
  <link rel="stylesheet" th:href="@{/media/css/theme-i.css}" id="maincss"></link>
  <body>

      <section >

         <div class="content-wrapper">

            <div class="row" id="standard" th:if="${articles.size() > 0}">

               <div class="col-lg-12 col-md-12 mt">

                  <ul class="timeline-alt" id="collectStandardList">

                     <li th:each="article : ${articles}" >

                        <a href="javascript:void(0);" class="hidden-xs timeline-badge sharing-user-avatar" th:style="'background-image:url(' + '/img/favicon.png' + ')'" th:onclick="'locationUrl(\'/user/' + ${article.userId} + '/0\',\'\');'" ></a>

                        <div class="timeline-panel">

                           <div class="popover right">

                              <div class="arrow"></div>

                              <div class="popover-content">

                                 <div class="table-grid">

                                    <div class="col">

                                       <div class="pull-right dropdown dropdown-list">

                                          <a href="#" data-toggle="dropdown" class="sharing-more-button" th:if="${userId == article.userId}" >

                                             <span class="fa fa-angle-down"></span>

                                          </a>

                                          <ul class="dropdown-menu animated bounceIn">

                                             <li>

                                                <div class="list-group">

                                                   <a href="javascript:void(0);"  class="list-group-item"  th:onclick="'getCollect(' + ${article.id} + ',\'\');'" >

                                                      <div class="media-box">

                                                         <div class="pull-left">

                                                            <em class="fa fa-pencil-square-o fa-2x fa-fw text-info"></em>

                                                         </div>

                                                         <div class="media-box-body clearfix">

                                                            <p class="m0">修改收藏</p>

                                                            <p class="m0 text-muted">

                                                               <small>修改收藏的各种属性</small>

                                                            </p>

                                                         </div>

                                                      </div>

                                                   </a>

                                                   <a href="javascript:void(0);"  class="list-group-item" th:onclick="'onCollect(' + ${article.id} + ',\'\');'">

                                                      <div class="media-box">

                                                         <div class="pull-left">

                                                            <em class="fa fa-trash fa-2x fa-fw text-danger"></em>

                                                         </div>

                                                         <div class="media-box-body clearfix">

                                                            <p class="m0">删除</p>

                                                            <p class="m0 text-muted">

                                                               <small>该分享会永久删除</small>

                                                            </p>

                                                         </div>

                                                      </div>

                                                   </a>

                                                </div>

                                             </li>

                                          </ul>

                                       </div>

                                       <div class="m0">

                                          <a href="javascript:void(0);" class="text-muted" th:text="article.userName" th:onclick="'locationUrl(\'/user/' + ${article.userId} + '/0\',\'\');'" >user name</a>

                                          <a th:if="${userId == article.userId}" th:id="'private' + ${article.id}"   class="deco-none"  title="设为私密"  href="javascript:void(0);"  th:style="'display:' + 'none' + ''"  th:onclick="'changePrivacy(' + ${article.id} + ',\'PRIVATE\');'">

                                             <span class="fa fa-lock" style="color: #eee;"></span>

                                          </a>

                                          <a th:if="${userId == article.userId}" th:id="'public' + ${article.id}"  class="deco-none"  title="设为公开"  href="javascript:void(0);"  th:style="'display:' + 'inline-block' + ''"  th:onclick="'changePrivacy(' + ${article.id} + ',\'PUBLIC\');'">

                                             <span class="fa fa-lock text-warning"></span>

                                          </a>

                                          <small class="ml-sm text-muted" >6天前  </small>

                                       </div>

                                    </div>

                                 </div>

                                  <div class="m0" >collect.remark</div>

                                 <div class="media resource-card-thumbnail">

                                    <a  href="#" th:onclick="'saveLookRecord(' + ${article.id} + ');'" class="pull-left" target="_blank">

                                       <div class="media-object resource-card-image"  th:style="'background-image:url(' +'/img/favicon.png' + ')'" ></div>

                                    </a>

                                    <div class="media-body">

                                       <h4 class="visible-xs media-heading resource-card-title-xs">

                                          <a target="_blank" th:onclick="'saveLookRecord(' + ${article.id} + ');'" href="#" th:text="${article.title}">title</a>

                                       </h4>

                                       <h3 class="hidden-xs media-heading resource-card-title">

                                          <a target="_blank" th:onclick="'saveLookRecord(' + ${article.id} + ');'" href="#" th:text="${article.title}">title</a>

                                       </h3>

                                       <div class="hidden-xs resource-card-content">

                                          <p  th:text="${article.title}">description</p>

                                       </div>

                                    </div>

                                 </div>

                                 <div class="m0">

                                    <span class="icon-folder mr-sm"></span>

                                    <!--<a href="javascript:void(0);" class="normal-color-a ng-binding" th:if="${otherPeople == null}"   th:text="${collect.favoriteName}" th:onclick="'locationUrl(\'/standard/' + ${collect.favoriteId} + '/0\',\''+ ${collect.favoriteId} + '\');'" >文件加名称</a>-->

                                    <a href="javascript:void(0);" class="normal-color-a ng-binding"   th:onclick="'locationUrl(\'/standard/' + '0' + '/'+${article.userId}+'\',\''+ ${article.categoryId} + '\');'" >文件加名称</a>

                                    <div class="pull-right hidden-xxs" th:onmouseover="'share(\''+'\',\''+${article.title}+'\',\''+'xxx'+'\',\''+'xxx'+'\');'">
                                       <small class="jiathis_style_32x32">
                                          <a href="javascript:void(0);" class="jiathis jiathis_txt sharing-action-button" style="font-size: 100%;line-height:18px!important;padding-top:2px;">

                                             <span class="fa fa-share-alt "></span>

                                             分享&nbsp;
                                          </a>

                                          |

                                          <a th:id="'like' + ${article.id}"  class="sharing-action-button" th:style="'display:' + 'inline-block' + ''"    th:onclick="'changeLike(' + ${article.id} + ');'">

                                             <span class="fa fa-thumbs-o-up"></span>

                                             <show th:id="'likeS' + ${article.id}"  th:text="|点赞|" ></show>

                                          </a>

                                           <if style="display:none"  >

										     |

										  </if>

                                          <a th:id="'unlike' + ${article.id}"  class="sharing-action-button" th:style="'display:' + 'inline-block'+ ''"    th:onclick="'changeLike(' + ${article.id} + ');'">

                                             <span class="fa fa-thumbs-up"></span>

                                          	 <show th:id="'unlikeS' + ${article.id}" th:text="|取消点赞|"></show>

                                          </a>

                                          <input th:id="'praiseC' + ${article.id}" type="hidden" name="praiseC"  />

                                          <input th:id="'commentC' + ${article.id}" type="hidden" name="commentC"  />

                                          |

                                          <a  class="sharing-action-button btn-comment" href="javascript:void(0);" th:onclick="'switchComment(' + ${article.id} + ');'" >

                                             <span class="fa fa-comment-o"></span>

                                             <show th:id="'commentS' + ${article.id}" th:text="|评论()|">	 评论(0)</show>

                                          </a>

										  <if th:if="${userId != article.userId}" >

										     |

										  </if>

                                          <a class="sharing-action-button"  th:if="${userId != article.userId}"  th:onclick="'getCollect(' + ${article.id} + ',\'\');'" >

                                             <span class="fa fa-spoon"></span>

                                           	    收藏

                                          </a>

                                       </small>

                                    </div>

                                 </div>

                                 <div class="collapse" th:id="'collapse' + ${article.id}">

                                    <comments th:id="'commentList' + ${article.id}"></comments>

                                    <div class="media p0" th:id="'comment' + ${article.id}">

                                       <div class="media-body">

                                          <form>

                                             <div class="input-group">

                                                <input th:id="'commentContent' + ${article.id}"   type="text" placeholder="输入评论..." class="form-control"/>

                                                <span class="input-group-btn">

                                                   <button class="btn btn-default" type="button" th:onclick="'comment(' + ${article.id} + ');'" >发送</button>

                                                </span>

                                             </div>

                                          </form>

                                       </div>

                                    </div>

                                 </div>

                              </div>

                           </div>

                        </div>

                     </li>

                    </ul>

                    <button  id="loadStandardMore" class="mt-lg btn btn-primary btn-block" style="display:none;">加载更多</button>
                    <div id="loadingStandard" style="text-align:center;margin:20px;display:none;"><img src="/img/loading.gif" width="64" height="64" /></div>
					<br />
                    <br />
                    <br />
               </div>

            </div>

            <input type="hidden" name="collectId" id="collectId" />

            <input type="hidden" name="forward" id="forward" th:value="'/standard/'+'/0'" />

            <input type="hidden" name="pageType" id="pageType"  />

            <input type="hidden"  id="userId" th:value="${userId}" />

         </div>

      </section>

  </body>

  <script th:src="@{/webjars/vue/1.0.24/vue.min.js}"></script>
  <script th:src="@{/webjars/vue-resource/0.7.0/dist/vue-resource.min.js}"></script>
  <script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>

  <script type='text/javascript' th:inline="javascript">

  $(function(){

	  var favorites = /*[[${favorites}]]*/;

	  if(null != favorites ){

		  $("#favoritesId").val(favorites.id);

	  }

  });

  </script>

</html>

