<!DOCTYPE html>
<html lang="en" th:fragment="collect">
<head>
</head>
<body  >
   <div class="wrapper">
      <div class="block-center mt-xl wd-xl">
         <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
               <button style="color:#fff;" type="button" data-dismiss="modal" class="close">
                 <span>×</span>
               </button>
               <a href="/" style="color:#fff;">CodeSheep</a>
            </div>
            <div class="panel-body" id="savaModifyArticlePropertyPage">
              <form id="collect-form" class="form-horizontal" onsubmit="return false">
               <div id="show2" style="display:block;">
               		<div class="mb">
                     标题
                     <textarea name="title" id="ctitle" class="form-control" cols="30" rows="2" placeholder="留空则自动抓取" v-model="modititle"></textarea>
                  </div>

                   <div class="mb">
                       标签
                       <textarea name="tag" id="ctag" class="form-control" cols="30" rows="2" placeholder="留空则自动抓取" v-model="moditag"></textarea>
                   </div>
               </div>

                    <p class="pt-lg text-center">选择一个分类</p>

                  <select  name="favoritesId" id="favoritesSelect" class="mb form-control">
                      <option th:each="favorites : ${favoritesList}" th:value="${favorites.id}" th:text="${favorites.name}"  th:selected="(${favorites.id} == ${configObj.defaultFavorties})"></option>
                  </select>
                  <p class="text-center">或者</p>
                  <input type="text" id="newFavorites" name="newFavorites" class="mb form-control" placeholder="新建分类" v-model="modicategory"/>

               <button id="ccollect" class="mt-lg btn btn-primary btn-block" v-on:click="modiSaveArticle">提交</button>



               </form>
               <p></p>
               <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>

                <input type="hidden" name="recordArticleId" id="recordArticleId" value=""/>

            </div>
         </div>
      </div>
   </div>

   <script th:src="@{/webjars/vue/1.0.24/vue.min.js}"></script>
   <script th:src="@{/webjars/vue-resource/0.7.0/dist/vue-resource.min.js}"></script>

   <script type='text/javascript'>

       Vue.http.options.emulateJSON = true;
       var savaModifyArticlePropertyPage = new Vue({
           el: '#savaModifyArticlePropertyPage',
           data: {
               'modititle': '',
               'moditag': '',
               'modicategory': ''
           },
           methods: {
               modiSaveArticle: function(event){

                   var articleId = $("#recordArticleId").val();
                   var categoryName = $("#newFavorites").val();
                   var categoryId = document.getElementById("favoritesSelect").value
                   var modifyTitle = $("#ctitle").val();
                   var modifyTag = $("#ctag").val();

                   var datas={
                       title: modifyTitle,
                       tag: modifyTag,
                       categoryId: categoryId,
                       categoryName: categoryName,
                       id: articleId
                   };
                   this.$http.post('/article/modifyarticleprop',datas).then(function(response){

                       var articleTileId = articleId + "_title";
                       var articleCategoryNameId = articleId + "_category"

                       if(response.data.rspCode == '000000'){

                           $('#modal-changeSharing').modal('hide');

                           document.getElementById( articleTileId ).innerHTML = modifyTitle;
                           document.getElementById( articleCategoryNameId ).innerHTML = response.data.data;

                           loadCategories();  // 需要重新加载文章分类导航栏

                       }else{
                            alert("修改失败");
                       }
                   }, function(response){
                       console.log('error');
                   })
               }
           }
       })
   </script>
</body>
</html>