<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="HSite"/>
        <meta name="author" content=""/>

        <title>CodeSheep | A flexible blog</title>

        <link rel="icon" href="/img/icon.png" type="image/x-icon" />
        <!--<link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />-->

        <!-- Bootstrap Core CSS -->
        <link href="index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Theme CSS -->
        <link href="index/css/freelancer.css" rel="stylesheet" />
        <!-- Custom Fonts -->
        <link href="index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <style>
            #portfolio .portfolio-item .portfolio-link .caption .caption-content{ top:36%;}
            #portfolio .portfolio-item .portfolio-link .caption .caption-content p{ font-size:16px; line-height:24px; margin:24px 16px 0;}
            #portfolio .portfolio-item .portfolio-link{ height: 260px; overflow:hidden; }
            #portfolio .portfolio-item:nth-child(1) .portfolio-link{ background: #ba4c63;}
            #portfolio .portfolio-item:nth-child(2) .portfolio-link{ background: #1fa4b6;}
            #portfolio .portfolio-item:nth-child(3) .portfolio-link{ background: #f8a3a3;}
            #portfolio .portfolio-item:nth-child(4) .portfolio-link{ background: #1d83c1;}
            #portfolio .portfolio-item:nth-child(5) .portfolio-link{ background: #18bc9c;}
            #portfolio .portfolio-item:nth-child(6) .portfolio-link{ background: #ccb2a3;}
            #portfolio .portfolio-item .portfolio-link .img-responsive{ width: 180px; height: 180px; display: block; border-radius: 0%; margin: 40px auto; }
        </style>

    </head>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#page-top">CodeSheep</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/login" th:unless="${user != null}">登录</a>
                            <a href="/" th:if="${user != null}" th:text="${user.userName}" class="userName"></a>
                        </li>
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <!--<li>
                            <a href="/lookAround/standard/ALL">随便看看</a>
                        </li>-->
                        <li>
                            <a href="/feedback">意见反馈</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">关于</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="img/profile.png" style="border-radius: 50%" alt="" />
                        <div class="intro-text">
                            <span class="name">CodeSheep</span>
                            <hr class="star-light"/>
                            <span class="skills">欢迎来到我的部落</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Portfolio Grid Section -->
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>CodeSheep所用技术栈</h2>
                        <hr class="star-primary"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://getbootstrap.com/" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development</p>

                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/cabin.png" class="img-responsive" alt="" />-->
                            <img src="img/bootstrap.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://cn.vuejs.org/" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <p>The Progressive JavaScript Framework</p>

                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/cake.png" class="img-responsive" alt="" />-->
                            <img src="img/vuejs.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.appinn.com/markdown/" class="portfolio-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <p>Markdown is a text-to-HTML conversion tool for web writers. Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML</p>

                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/circus.png" class="img-responsive" alt="" />-->
                            <img src="img/markdown.png" style="width: 240px;height: 160px" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://www.mysql.com/" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                      <p>MySQL is the world's most popular open source database.MySQL can cost-effectively help you deliver high performance, scalable database applications</p>

                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/game.png" class="img-responsive" alt="" />-->
                            <img src="img/dbs_mysql.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://redis.io/" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                     <p>Redis is an open source (BSD licensed), in-memory data structure store, used as a database, cache and message broker</p>
                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/safe.png" class="img-responsive" alt=""/>-->
                            <img src="img/redis.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.thymeleaf.org/" class="portfolio-link" style="background-color: #005F0F">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                     <p>Thymeleaf is a modern server-side Java template engine for both web and standalone environments</p>

                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/submarine.png" class="img-responsive" alt="" />-->
                            <img src="img/thymeleaf.png" class="img-responsive" alt=""/>
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">
                        <a href="https://spring.io/" class="portfolio-link" style="background-color: rgb(109, 179, 63)">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <p>Spring helps development teams everywhere build simple, portable,  fast and flexible JVM-based systems and applications</p>

                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/submarine.png" class="img-responsive" alt="" />-->
                            <img src="img/spring.png" class="img-responsive" alt=""/>
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">
                        <a href="https://gradle.org/" class="portfolio-link" style="background-color: rgb(191, 144, 220)">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <p>From mobile apps to microservices, from small startups to big enterprises, Gradle helps teams build, automate and deliver better software, faster</p>

                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/submarine.png" class="img-responsive" alt="" />-->
                            <img src="img/gradle.png" class="img-responsive" style="width: 355px;height: 118px; margin-top: 65px" alt=""/>
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">
                        <a href="http://hibernate.org/orm/" class="portfolio-link" style="background-color: rgb(220,181,48)">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <p>As an Object/Relational Mapping (ORM) framework, Hibernate is concerned with data persistence as it applies to relational databases</p>

                                </div>
                            </div>
                            <!--<img src="index/img/portfolio/submarine.png" class="img-responsive" alt="" />-->
                            <img src="img/hibernate.png" class="img-responsive" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section class="success" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>关于我</h2>
                        <hr class="star-light"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <p>普通的开发者，去年夏天之前是一名Huster
                        <br/>热爱编码、热爱开源、热爱生活。
                        <br/>最近酷爱WEB技术，从前端到后端。
                            <br/>本网站会持续重构，后续会全部开源，敬请期待
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>
                            感谢pure smile网友给予的灵感，要向你学习的东西还有太多
                         <br/>感谢老婆大人的鼎力支持，你是我的Baby Sheep ！
                            <br/>后续会加入IM功能、多级菜单
                         <br/>大家有什么好想法可以email我，后续加进去
                         </p>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="https://github.com/hansonwang99" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i> GITHUB--关注我
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>联系我</h2>
                        <hr class="star-primary"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <br/><br/><br/>
                        <p>请发邮件到这里
                             <a href="mailto:hansonwang99@163.com">
                                hansonwang99@163.com
                            </a>
                         </p>
                         <br/>
                         <p>或者在github上面
                            <a  href="https://github.com/hansonwang99">
                                                               关注我
                            </a>
                         </p>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                            <h3>位置</h3>
                            <p>
                                <br./>中国 ● 南京</p>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>联系我</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://github.com/hansonwang99" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>关于网站</h3>
                            <p>A flexible blog</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; CodeSheep 2017-2018
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

        <!-- jQuery -->
        <script src="index/vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="index/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="index/js/jqBootstrapValidation.js"></script>
        <script src="index/js/contact_me.js"></script>

        <!-- Theme JavaScript -->
        <script src="index/js/freelancer.min.js"></script>
        <div style="display:none">
          <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260466344'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260466344' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>

    </body>

</html>
