<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'">
	
</head>
<body>
      <section>
      <link rel="stylesheet" th:href="@{/vendor/cropper/cropper.min.css}" />
         <div class="content-wrapper">
            <div class="container-fluid">
               <div class="row" id="main" style="max-height: 100%;max-width: 100%;height: 700px">
               </div>
            </div>
         </div>
      </section>

      <script type="text/javascript">

          // 基于准备好的dom，初始化echarts图表
          var myChart = echarts.init(document.getElementById("main"));
          var option = {
              title : {
                  text: '身高百分位数值标准表（男）'
              },
              tooltip : {
                  trigger: 'axis'
              },
              legend: {
                  data:['3rd','10th','25th','50th','75th','90th','97th']
              },
              //右上角工具条
              toolbox: {
                  show : true,
                  feature : {
                      mark : {show: true},
                      dataView : {show: true, readOnly: false},
                      magicType : {show: true, type: ['line', 'bar']},
                      restore : {show: true},
                      saveAsImage : {show: true}
                  }
              },
              calculable : true,
              xAxis : [
                  {
                      type : 'category',
                      boundaryGap : false,
                      data : ['出生','2月','4月','6月','9月','12月','15月','18月','21月','2岁','2.5岁','3岁','3.5岁','4岁','4.5岁','5岁','5.5岁','6岁','6.5岁','7岁','7.5岁','8岁','8.5岁','9岁','9.5岁','10岁','10.5岁','11岁','11.5岁','12岁','12.5岁','13岁','13.5岁','14岁','14.5岁','15岁','15.5岁','16岁','16.5岁','17岁','18岁']
                  }
              ],
              yAxis : [
                  {
                      type : 'value',
                      min: 40,
                      max: 200,
                      axisLabel : {
                          formatter: '{value} cm'
                      }
                  }
              ],
              series : [
                  {
                      name:'3rd',
                      type:'line',
                      data:[47.1, 54.6, 60.3, 64.0, 67.9, 71.5, 74.4, 76.9, 79.5, 82.1, 86.4, 89.7, 93.4, 96.7, 100.0, 103.3, 106.4, 109.1, 111.7, 114.6, 117.4, 119.9, 122.3, 124.6, 126.7, 128.7, 130.7, 132.9, 135.3, 138.1, 141.1, 145.0, 148.8, 152.3, 155.3, 157.5, 159.1, 159.9, 160.5, 160.9, 161.3],
                      markPoint : {
                          data : [
                              {type : 'max', name: '最大值'},
                              {type : 'min', name: '最小值'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: '平均值'}
                          ]
                      }
                  },
                  {
                      name:'10th',
                      type:'line',
                      data:[48.1, 55.9, 61.7, 65.4, 69.4, 73.1, 76.1, 78.7, 81.4, 84.1, 88.6, 91.9, 95.7, 99.1, 102.4, 105.8, 109.0, 111.8, 114.5, 117.6, 120.5, 123.1, 125.6, 128.0, 130.3, 132.3, 134.5, 136.8, 139.5, 142.5, 145.7, 149.6, 153.3, 156.7, 159.4, 161.4, 162.9, 163.6, 164.2, 164.5, 164.9],
                      markPoint : {
                          data : [
                              {type : 'min', name: '周最低'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name : '平均值'}
                          ]
                      }
                  },
                  {
                      name:'25th',
                      type:'line',
                      data:[49.2, 57.2, 63.0, 66.8, 70.9, 74.7, 77.8, 80.6, 83.4, 86.2, 90.8, 94.2, 98.0, 101.4, 104.9, 108.4, 111.7, 114.6, 117.4, 120.6, 123.6, 126.3, 129.0, 131.4, 133.9, 136.0, 138.3, 140.8, 143.7, 147.0, 150.4, 154.3, 157.9, 161.0, 163.6, 165.4, 166.7, 167.4, 167.9, 168.2, 168.6],
                      markPoint : {
                          data : [
                              {type : 'min', name: '周最低'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name : '平均值'}
                          ]
                      }
                  },
                  {
                      name:'50th',
                      type:'line',
                      data:[50.4, 58.7, 64.6, 68.4, 72.6, 76.5, 79.8, 82.7, 85.6, 88.5, 93.3, 96.8, 100.6, 104.1, 107.7, 111.3, 114.7, 117.7, 120.7, 124.0, 127.1, 130.0, 132.7, 135.4, 137.9, 140.2, 142.6, 145.3, 148.4, 151.9, 155.6, 159.5, 163.0, 165.9, 168.2, 169.8, 171.0, 171.6, 172.1, 172.3, 172.7],
                      markPoint : {
                          data : [
                              {type : 'min', name: '周最低'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name : '平均值'}
                          ]
                      }
                  },
                  {
                      name:'75th',
                      type:'line',
                      data:[51.6, 60.3, 66.2, 70.0, 74.4, 78.4, 81.8, 84.8, 87.9, 90.9, 95.9, 99.4, 103.2, 106.9, 110.5, 114.2, 117.7, 120.9, 123.9, 127.4, 130.7, 133.7, 136.6, 139.3, 142.0, 144.4, 147.0, 149.9, 153.1, 157.0, 160.8, 164.8, 168.1, 170.7, 172.8, 174.2, 175.2, 175.8, 176.2, 176.4, 176.7],
                      markPoint : {
                          data : [
                              {type : 'min', name: '周最低'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name : '平均值'}
                          ]
                      }
                  },
                  {
                      name:'90th',
                      type:'line',
                      data:[52.7, 61.7, 67.6, 71.5, 75.9, 80.1, 83.6, 86.7, 90.0, 93.1, 98.2, 101.8, 105.7, 109.3, 113.1, 116.9, 120.5, 123.7, 126.9, 130.5, 133.9, 137.1, 140.1, 142.9, 145.7, 148.2, 150.9, 154.0, 157.4, 161.5, 165.5, 169.5, 172.7, 175.1, 176.9, 178.2, 179.1, 179.5, 179.9, 180.1, 180.4],
                      markPoint : {
                          data : [
                              {type : 'min', name: '周最低'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name : '平均值'}
                          ]
                      }
                  },
                  {
                      name:'97th',
                      type:'line',
                      data:[53.8, 63.0, 69.0, 73.0, 77.5, 81.8, 85.4, 88.7, 92.0, 95.3, 100.5, 104.1, 108.1, 111.8, 115.7, 119.6, 123.3, 126.6, 129.9, 133.7, 137.2, 140.4, 143.6, 146.5, 149.4, 152.0, 154.9, 158.1, 161.7, 166.0, 170.2, 174.2, 177.2, 179.4, 181.0, 182.0, 182.8, 183.2, 183.5, 183.7, 183.9],
                      markPoint : {
                          data : [
                              {type : 'min', name: '周最低'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name : '平均值'}
                          ]
                      }
                  }
              ]
          };

          // 为echarts对象加载数据
          myChart.setOption(option);
          window.onresize = myChart.resize;

      </script>
</body>
</html>